.wrapper {
    display: grid;
    grid-template: minmax(90px, auto) 1fr minmax(100px, auto) /1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    min-height: 100vh;
}


.main {
    grid-area: main;
    display: grid;
    color:white;
}
.footer {
    display: grid;
    grid-area: footer;
}
.link {
    display: flex;
    max-width: 143px;
    padding: 5px;
    border-radius: 12px;
    background-color: white;
    margin-top: 20px;
    .link__circle {
        background-color: black;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        }
        a {
            display: grid;
            align-items: center;
            padding-left: 5px;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.4px;
            color: #000000;
            text-decoration: none;
        }
}