.wrapper {
    display: grid;
    grid-template: minmax(90px, auto) 1fr minmax(100px, auto) /1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    min-height: 100vh;
}


.main {
    grid-area: main;
    display: grid;
    color:white;
}
.footer {
    display: grid;
    grid-area: footer;
}
