header {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
    &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    }
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .header__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;
    }
    .header__list{     
        display: flex;  
        gap:30px;
        align-items: center;
        z-index: 5;
        position: relative;
        transition-duration: 1.5s;
        
        a {
        color:white;
        text-decoration: none;
        font-size: 15px;
        &:hover {
            background-color: white;
            padding: 10px 20px;
            color: #000;
            border-radius: 20px;
        }
        }

        .header__link_active {
            background-color: white;
            padding: 10px 20px;
           
           
            border-radius: 20px;
            a {
                color:black;
                &:hover {
                    background-color: none;
                    padding: 0;
                    
                    
                }   
            }            
        }
    }
   .header__logo_link {
    position: relative;
    z-index: 5;
    img {
        align-items: center;
        display: flex;
        max-width: 100%;
        flex: 0 0 128px;
    }
   } 
.header__burger.active {
&:before {
    transform: rotate(45deg);
    top:9px;
}
&:after { 
    transform: rotate(-45deg);  
    bottom: 9px;
}
span {
    transform: scale(0);
}
}
.header__menu { 
    padding: 0;
}
}