/*-------Header menu -----*/
@media (max-width:992px) {
    header {
    .header__list {
    a {
        padding: 10px 5px;
    }   
    }
}
}
@media (max-width:768px) {
    body.lock {
        overflow: hidden;
    }
   header {
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: white;
        top:0;
        transition: all 0.3s ease 0s;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            background-color: white; 
            bottom: 0;
            transition: all 0.3s ease 0s;
        }
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            background-color: white; 
            top: 9px;
            transition: all 0.3s ease 0s;
        }
    }
.header__body {
    height: 75px !important;
.header__menu {
    top:-100%;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top:70px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.header__logo_link {
    img {
        flex: 0 0 70px !important;
    }
   } 
.header__list {
    display: block;
    .header__link {
        transition-duration: 1.5s;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: center;
    &:hover {
        background: rgb(105,105,105);
    }
    }
  .header__link_active {
    width: 155px;
    text-align: center;
    margin:5px auto
  }  
}
.header__menu.active {
    top:0 !important;
}
}
}
}

@media (max-width:768px) {
    .banner {
        &__body {
            bottom: 25px;
            z-index: 1;
            transform: none;
            left: 0;
        }
        .banner__items {
            right: 15px;
            bottom: 5px;
        }
    }
    .main__what {
        padding: 30px;
    .what__content.content {
        .content__items {
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
        .content__link {
            margin-top: 5px;
        }
        .content__title {
            padding-bottom: 0;
        }
        .content__item {
            justify-content: center;
            display: grid;
        }
    }
    }
    .mount {
        &__info {
            max-width: 100%;
            padding-left: 15px;
            top:10%;
    
        }
    }
    .tools {
        padding: 30px 0;
        &__items {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap:20px;
        }
    }
    .past {
        &__items {
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
        }
    }
}
@media (max-width:500px) {
    .banner {
    .banner__background {
        padding: 100% 0 0 0;
        h1 {
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 5px;
        }
        .banner__body {
            top:20%;
        }
        .banner__content p {
            line-height: 30px;
        }
    }
   
}
.main__what .what {
    &__title {
            font-size: 24px;
    }
}
.mount {
    margin-bottom: 30px;
    .mount__info {
        text-align: center;
    }
}  

.tools {
    &__title {
        font-size: 20px;
    }
}  
.main__monstera {
    .mount__info {
        text-align: center;
    }
}
.past {
    padding: 30px 0 30px 0;
    &__items {
        grid-template-columns: 1fr;
    }
}
}

@media (max-width:344px) {
    .banner {
    .banner__background {
        .banner__items{
            right: 0;
            padding-left: 15px;
        }
        .banner__body {
            top:20px;
        }
        .banner__content p {
            line-height: 15px;
        }
    }
    }
    .mount {
        &__info {
            max-width: 100%;
            padding-left: 15px;
            right: 0;
            top:0;
        }
        &__items {
            gap:5px;
            right:0;
            padding-left: 15px;
            bottom: 5px;
        }
    }
    .tools__icons {
        right: 10px;
        bottom: 10px;
        display: flex;
        position: absolute;
        gap: 5px;
    }
}
